body {
    background-image: url(https://digitshack.com/codepen/mentor7/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-color: hsl(257, 40%, 49%);
    margin: 0px;
    padding: 0px;
  }

.conteudo-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1360px;
    justify-content: center;
    margin-top: 70px;
}
.conteudo-item{
  display: flex;
  flex: 2 1 0;
  max-width: 720px;
  justify-content: center;
}
.conteudo-item img{
  display: block;
  flex: 2;
  max-width: 600px;
}

.conteudo-item-info{
  flex: 1 1 0;
  text-align: start;
  color: white;
  font-size: 1.25em;
}



